<div class="task-tree">
  <div class="task__header flex__between">
    <h2>Task Manager</h2>
    <button
      mat-icon-button
      [routerLink]="['/tasks/new']"
      matTooltip="Add new task">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <ng-container
    *ngIf="isLoading$ | async; then isLoading else loaded">
  </ng-container>

  <ng-template #isLoading>
    <div>
      Loading...
    </div>
  </ng-template>
  <ng-template #loaded>
     <ul>
    <li *ngFor="let taskId of taskRootIds$ | async">
      <app-task-node
        [taskId]="taskId">
      </app-task-node>
    </li>
  </ul>
  </ng-template>
</div>
