<div class="flex__between task-inline">
  <div class="task-inline__id">TASK-{{task.id}}</div>
  <div class="task-inline__title">{{task.title}}</div>
  <div class="task-inline__status">
    <mat-icon matTooltip="{{selectedStatus.name}}">
      {{selectedStatus.icon}}
    </mat-icon>
  </div>
  <div class="task-inline__actions">
    <button mat-icon-button
            matTooltip="Edit task"
            [routerLink]="['/tasks', task.id]">
      <mat-icon [inline]="true">create</mat-icon>
    </button>
    <button mat-icon-button
            matTooltip="Delete task"
            (click)="handleDeleteClick(task)">
      <mat-icon [inline]="true">clear</mat-icon>
    </button>
  </div>
</div>
