<div class="task-details">
  <button mat-button [routerLink]="['/tasks']">
    Back to tasks
  </button>
  <div>
    <app-task-form
      [task]="task$ | async"
      [exists]="exists"
      (create)="onCreate($event)"
      (update)="onUpdate($event)"
    >
    </app-task-form>
    <div class="sub-tasks" *ngIf="exists">
      <div class="sub-tasks__header flex__between">
        <h3>Sub Tasks</h3>
        <button
          mat-icon-button
          [routerLink]="['/tasks/new']"
          [queryParams]="{parentId: (task$ | async).id}"
          matTooltip="Add new sub task">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div *ngFor="let subTask of subTasks$ | async">
        <app-task-inline-item
          [task]="subTask"
          (removeClick)="onRemove($event)">
        </app-task-inline-item>
      </div>
    </div>
  </div>
</div>
